#root {
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}

.wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.header{
  background-color: var(--secondary-color);
  padding: 1.1rem;
  width: 100%;
}

.navbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-menu{
  align-items: center;
  column-gap: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.navbar-button-profile{
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-button-profile img{
  border-radius: 50%;
  border: 2px solid white;
  height: 32px;
  width: 32px;
}

.navbar-menu img{
  width: 22px;
}

.wrapper-main{
  padding: 0 1rem;
}